:root{
    --first-color: #30343F;
    --second-color: #FAFAFF;
    --third-color: #E4D9FF;
    --fourth-color: #273469;
    --fifth-color: #1E2749;
    --font-color: black;
}

* {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--first-color);
}

nav {
    margin-top: 2%;
    font-size: larger;
}

nav img {
    width: 40%;
}

a {
    color: var(--second-color) !important;
    text-decoration: none !important;
    padding: 5%;
}

a i {
    font-size: xx-large;
    color: var(--font-color);
    padding-right: 3%;
}

table {
    width: 90%;        
    color: var(--font-color);
}

.meio{
    width: 50%;
}

.start {
    padding: 10%;
    padding-top: 0%;
}

.col-md-4 {
    align-items: center;
    display: flex;
    text-align: center;
    padding-top: 5%;
    font-size: 2000%;
    color: var(--font-color);
}

.col-md-4 img {
    width: 110%;
}

.col-md-8 {
    text-align: left;
    padding-top: 4%;
}

.col-md-8 p {
    font-size: 250%;
    color: var(--second-color);
    margin-top: -3%;
}

.col-md-8 h2{
    color: var(--second-color);
    font-size: 500%;
    font-weight: 700;
    margin-top: 0%;
    padding: 0%;
}

.col-md-8 img {
    width: 20%;
}

.col-md-8 .legend {
    font-size: medium;
    color: var(--second-color);
}

.col-md-8 a {
    padding: 0%;
}


@media (max-width: 768px) {
  /* Estilos aplicados para versões mobile */
  .col-md-4 {
    font-size: 1000%;
  }

  a i {
    font-size: large;
  }

.col-md-8 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  
}